<div class="products__grid" v-if="!filter">
    <div class="product" v-for="product in products" :key="product.id" data-aos="fade-up" >
        <div>
            <div v-text="product.type" class="product__type"/>
        </div>

        <div class="product__image">
            <img :src="require(`/src/assets/images/products/${product.image}.png`)" alt="" class="img-resp">
        </div>
        <div class="product__info">
            <p v-text="product.name" class="product__name"/>
            <div class="product-info__row">
                <div class="product__price">
                    <s v-text="`$${product.price.old}`" class="product-price__old"/>
                    <p v-text="`$${product.price.current}`" class="product-price__current"/>
                </div>
                <div class="product__rating">
                    <img :src="require(`/src/assets/images/rating/${product.rating}-star.png`)" class="img-resp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products__grid" v-else>
    <div class="product" v-for="product in filteredProducts" :key="product.id" data-aos="fade-up" >
        <div><div v-text="product.type" class="product__type"/></div>
        <div class="product__image">
            <img :src="require(`/src/assets/images/products/${product.image}.png`)" alt="" class="img-resp">
        </div>
        <div class="product__info">
            <p v-text="product.name" class="product__name"/>
            <div class="product-info__row">
                <div class="product__price">
                    <s v-text="`$${product.price.old}`" class="product-price__old"/>
                    <p v-text="`$${product.price.current}`" class="product-price__current"/>
                </div>
                <div class="product__rating">
                    <img :src="require(`/src/assets/images/rating/${product.rating}-star.png`)" class="img-resp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>