<div class="home-page">
	<!-- <section class="home-screen">
		<div class="container">
			<div class="home-screen__content">
				<span>100% Natural Food</span>
				<strong>Choose the best healthier way of life</strong>
				<ArrowButton buttonText="Explore Now" buttonBg="yellow"/>
			</div>
		</div>
	</section> -->

	<section class="natural-offer">
		<div class="container">
			<div class="natural-offer__content">
				<div class="natural-offer__item pink">
					<span>Natural!!</span>
					<strong>Get Garden <br> Fresh Fruits</strong>
				</div>
				<div class="natural-offer__item white">
					<span>Offer!!</span>
					<strong>Get 10% off <br> on Vegetables</strong>
				</div>
			</div>
		</div>
	</section>

	<section class="home-about">
		<div class="container">
			<div class="home-about__content">
				<div class="home-about__img">
					<img src="../../assets/images/citruses.png" class="img-resp" alt="">
				</div>
				<div class="home-about__info">
					<span v-text="`About Us`"/>
					<strong>We Believe in Working Accredited Farmers</strong>
					<p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to 
	been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
					<div class="home-about-info__row">
						<div class="home-about-info-row__image">
							<img src="../../assets/images/home-about-1.png" alt="">
						</div>
						<div class="home-about-info-row__text">
							<strong>Organic Foods Only</strong>
							<p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
						</div>
					</div>
					<div class="home-about-info__row">
						<div class="home-about-info-row__image">
							<img src="../../assets/images/home-about-2.png" alt="">
						</div>
						<div class="home-about-info-row__text">
							<strong>Quality Standards</strong>
							<p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
						</div>
					</div>
					<ArrowButton buttonText="Explore Now" buttonBg="blue"/>
				</div>
			</div>
		</div>
	</section>
</div>
