@import '/src/assets/sass/_vars.sass'

#footer 
	padding-top: 100px
	.footer__content
		display: grid
		grid-template-columns: 1fr 2fr 1fr
		grid-gap: 50px
		padding-bottom: 100px
		p 
			margin: 0
			font-size: 18px
			font-weight: 400
			color: $gray 

		.footer-column__title
			font-size: 30px
			font-weight: 700
			color: $accent
			margin: 0 0 30px 0

		.footer__contacts
			text-align: right

		.footer-column__item
			&:not(:last-child)
				margin-bottom: 20px
			strong
				font-family: 'Open sans', sans-serif
				display: block
				color: $gray
				font-size: 18px
				font-weight: 700
				margin-bottom: 5px

		.footer__center
			padding: 0 40px 
			border-left: 1px solid #D4D4D4
			border-right: 1px solid #D4D4D4
			.social-media-icons
				justify-content: center
			.footer__logo
				margin-bottom: 23px
				img 
					display: block
					max-width: 100%
					height: auto
					margin: 0 auto
			p 
				text-align: center
				line-height: 165%

	#copyright
		font-family: 'Open sans', sans-serif
		padding: 17px
		text-align: center
		color: $gray
		font-size: 18px
		font-weight: 400
		span
			font-weight: 700

@media (max-width: 1440px) 
	#footer
		.footer__content
			padding-bottom: 50px
			.footer__center
				display: flex
				flex-direction: column
				justify-content: space-between
				.footer__logo
					margin-bottom: 10px
					img
						width: 150px
				.social-media-icons
					margin-top: 25px

			p 
				font-size: 14px
			.footer-column__title
				font-size: 24px
				margin-bottom: 15px
			.footer-column__item
				strong
					font-size: 16px

		#copyright
			font-size: 14px



@media (max-width: 768px)
	#footer
		.footer__content
			grid-gap: 20px
			.footer__center
				padding: 0 20px

@media (max-width: 480px)
	#footer
		.footer__content
			grid-template-columns: 1fr
			.footer__center
				grid-row: 1
				border-left: none
				border-right: none
				border-bottom: 1px solid #d4d4d4
				padding: 0 0 20px 0
			.footer__pages,
			.footer__contacts
				text-align: center
			.footer__contacts
				border-bottom: 1px solid #d4d4d4
				padding-bottom: 20px

@media (max-width: 350px)
	#footer
		.footer__content
			.footer-column__title
				font-size: 18px
			.footer__center
				.footer__logo
					img
						width: 120px
			p
				font-size: 10px

			.footer-column__item
				strong 
					font-size: 12px
