@import '/src/assets/sass/_vars.sass'
@import '/src/assets/sass/_extends.sass'

.subscribe-news
	.subscribe__content
		padding: 100px 25px
		background-color: #37B5DE
		background-image: url('/src/assets/images/backgrounds/subscribe-bg.png')
		background-size: cover
		background-position: center
		border-radius: 30px
		.subscribe__container
			max-width: 1250px
			margin: 0 auto
			display: flex
			justify-content: space-between
			align-items: center
			.subscribe__title
				display: block
				color: $white
				font-size: 50px
				font-weight: 800
				max-width: 360px
				margin: 0 20px 0 0
			.subscribe__form
				display: flex
				.subscribe__input
					display: block
					border-radius: 16px
					background-color: $white
					padding: 30px 25px
					color: $accent
					font-size: 18px
					font-weight: 400
					width: 350px
					max-width: 100%
					border: none
					outline: none
					border: 1px solid transparent
					transition: all 0.2s ease
					&::placeholder
						color: #ababab
						font-style: italic
					&:focus 
						border-color: $accent
						box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2)
				.subscribe__btn
					margin-left: 6px
					height: auto
					font-size: 20px
					img 
						display: none

@media (max-width: 1440px) 
	.subscribe-news
		.subscribe__content
			padding: 70px 20px
			.subscribe__container
				.subscribe__title
					font-size: 36px
				.subscribe__form
					.subscribe__input
						padding: 20px 15px
						font-size: 14px
						width: 250px
						border-radius: 10px
					.arrow-button
						border-radius: 10px
						min-width: 150px
						font-size: 16px

@media (max-width: 768px) 
	.subscribe-news
		.subscribe__content
			padding: 50px 20px
			position: relative
			border-radius: 20px
			.subscribe__container
				.subscribe__title
					font-size: 32px

@media (max-width: 700px)
	.subscribe-news
		.subscribe__content
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, 0.15)
				z-index: 1
				border-radius: inherit
			.subscribe__container
				flex-direction: column
				align-items: stretch
				position: relative
				z-index: 2
				.subscribe__title
					text-align: center
					margin-bottom: 20px
					margin-right: 0
					align-self: center
				.subscribe__form
					flex-direction: column
					.subscribe__input
						width: 100%
						margin-bottom: 10px
					.arrow-button
						width: 100%
						margin: 0
						height: 60px


@media (max-width: 480px)
	