<section class="subscribe-news">
    <div class="container">
        <div class="subscribe__content">
            <div class="subscribe__container">
                <h2 class="subscribe__title" data-aos="fade-down" >Subscribe to our Newsletter</h2>
                
                <form action="#" class="subscribe__form" data-aos="fade-up" >
                    <input type="email" name="email" class="subscribe__input" placeholder="Your Email Address">
                    <ArrowButton type="submit" class="subscribe__btn" id="send" buttonText="Subscribe" buttonBg="blue"/>
                </form>
            </div>  
        </div>
    </div>
</section>