<header id="header">
	<div class="header-container">
		<div class="header__content">
			<router-link to="/" class="header__logo">
				<img src="../../../assets/images/logo.svg" class="img-resp" alt="">
			</router-link>
			<div class="header__links">
				<ul>
					<li v-for="link in links" :key="link.name" class="header__link">
						<router-link :to="link.path">{{link.name}}</router-link>
					</li>
				</ul>
			</div>
			<div class="header__right">
				<div class="header-right__btn header-search">
					<VueIcon icon="search"/>
				</div>
				<div class="header-right__btn header-cart">
					<VueIcon icon="cart-shopping"/>
				</div>
				<p v-text="`Cart (${Math.round(cartItems)})`" class="cart-count" />
			</div>

			<div class="burger" :class="{active: burgerActive}" @click="burgerActive = !burgerActive">
				<span></span>
			</div>

			<div class="burger-menu" :class="{active: burgerActive}">
				<div class="header__right">
					<div class="header-right__btn header-search">
						<VueIcon icon="search"/>
					</div>
					<div class="header-right__btn header-cart">
						<VueIcon icon="cart-shopping"/>
					</div>
					<p v-text="`Cart (${Math.round(cartItems)})`" class="cart-count" />
				</div>
				
				<div class="header__links" :class="{active: burgerActive}">
					<ul>
						<li v-for="link in links" :key="link.name" class="header__link">
							<router-link :to="link.path" @click="burgerActive = !burgerActive">{{link.name}}</router-link>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>