@import '/src/assets/sass/_vars.sass'

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.home-screen
		min-height: calc(50vh - 70px)
		background-position: 100px 50%
		.home-screen__content
			h1 
				font-size: 55px

	.natural-offer
		.natural-offer__content
			& > *
				padding: 20px
				min-height: 230px
				em 
					font-size: 24px
				h2
					font-size: 36px

	.eco-friendly
		.eco-friendly__text
			.eco-friendly__description
				padding: 30px

	.eco-friendly
		.eco-friendly__text
			margin: 70px 0
			.eco-friendly__description
				left: -100px
				border-radius: 20px
				min-width: 500px

	.eco-friendly-slides
		grid-gap: 20px
		.item
			p
				padding: 20px 10px
				font-size: 14px
				border-radius: 10px

@media only screen and (max-width: 1024px)
	.testimonials
		.testimonials__counters
			margin-top: 100px
			.counter__item
				width: 170px
				height: 170px
				.counter__number 
					font-size: 36px
				p 
					font-size: 14px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.natural-offer
		.natural-offer__content
			& > *
				padding: 20px
				min-height: 230px
				em 
					font-size: 20px
				h2
					font-size: 28px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.natural-offer
		.natural-offer__content
			& > *
				padding: 20px
				min-height: 200px
				border-radius: 20px
				em 
					font-size: 20px
				h2
					font-size: 28px

	.eco-friendly
		grid-template-columns: 1fr
		position: relative
		.eco-friendly__photo
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			z-index: 1
			padding: 0
		.eco-friendly__text
			position: relative
			z-index: 2
			.eco-friendly__description
				left: 0
				min-width: auto
				max-width: 80%
				margin: 0 auto

/* Small Devices, Tablets */
@media only screen and (max-width : 750px)
	.testimonials
		.testimonials__counters
			.counter__item
				margin: 0 auto
				width: 150px
				height: 150px
				.counter__number 
					font-size: 28px
				p 
					font-size: 12px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.home-screen
		.home-screen__content
			h1 
				font-size: 36px

	.natural-offer
		.natural-offer__content
			& > *
				padding: 15px
				min-height: 170px
				em 
					font-size: 18px
				h2
					font-size: 24px

	.products
		.products__content
			.arrow-button 
				margin-top: 50px

	.testimonials
		.testimonials__counters
			display: grid
			grid-template-columns: repeat(2, auto)
			grid-gap: 15px
			justify-content: center
			margin-top: 50px

	.eco-friendly-slides
		grid-template-columns: 1fr
		padding: 0

	.offers
		text-align: center
		.offers__top
			justify-content: center
			margin-bottom: 25px
			.offers__title
				text-align: center
		.arrow-button-mob
			margin-top: 50px

	.news
		text-align: center
		.arrow-button-mob
			margin-top: 100px

	.eco-friendly
		.eco-friendly__text
			.eco-friendly__description
				max-width: 90%
				border-radius: 15px
				padding: 20px
/* Custom, iPhone Retina */
@media only screen and (max-width : 350px)
	/**/
	.home-screen
		.home-screen__content
			h1 
				font-size: 30px

	.testimonials
		.testimonials__counters
			grid-gap: 10px
			.counter__item
				width: 120px
				height: 120px
				.counter__number 
					font-size: 24px
				p 
					font-size: 10px
