@import '/src/assets/sass/_vars.sass'
@import '/src/assets/sass/_extends.sass'

.news__grid
	@extend %grid-half
	grid-gap: 70px 50px
	.news__item
		position: relative
		border-radius: 30px

		.news-item__cover
			display: block
			max-width: 100%
			height: auto
			width: 100%

		.news-item__date
			position: absolute
			top: 40px
			left: 30px
			border-radius: 50%
			background-color: $white
			font-size: 20px
			color: $accent
			font-weight: 800
			width: 82px
			height: 82px
			display: flex
			justify-content: center
			align-items: center
			word-spacing: 9999999px
			text-align: center

		.news-item__info
			position: absolute
			width: 90%
			left: 50%
			transform: translateX(-50%)
			bottom: -30px
			background-color: $white 
			border-radius: 30px
			padding: 55px 55px 20px 55px
			min-height: 280px
			box-shadow: 5px 5px 10px rgba(0,0,0,.3)		
			.news-item__autor
				display: flex
				align-items: center
				margin-bottom: 20px
				p 
					font-size: 18px
					margin: 0 0 0 8px
					font-weight: 400
					color: $accent
					line-height: 1

			.news-item__title
				@extend %small-title

			.news-item__description
				@extend %paragraph

			.news-item__more 
				display: flex
				text-decoration: none
				align-items: center
				color: $accent
				font-size: 20px
				font-weight: 700
				margin-top: 20px
				img 
					display: block
					margin-left: 5px
					position: relative
					left: 0
				&:hover
					img 
						left: 5px


@media (max-width: 1200px)
	.news__grid
		.news__item
			.news-item__date 
				width: 60px
				height: 60px
				top: 20px
				font-size: 14px
			.news-item__info
				min-height: auto
				padding: 25px
				border-radius: 20px
				.news-item__autor
					img 
						width: 14px
					p
						font-size: 14px
				.news-item__more
					font-size: 16px
					margin-top: 10px

@media (max-width: 992px)
	.news__grid
		grid-gap: 50px 15px
		.news__item
			.news-item__info
				padding: 15px
				border-radius: 10px
				.news-item__title
					font-size: 16px
				.news-item__description
					font-size: 14px
				.news-item__more
					font-size: 14px
					line-height: 1
					img 
						width: 12px
				.news-item__autor
					margin-bottom: 10px
					img 
						width: 12px
					p
						font-size: 14px

@media (max-width: 768px)
	

@media (max-width: 750px)
	.news__grid
		grid-template-columns: 1fr

@media (max-width: 480px)
	.news__grid
		grid-gap: 70px 15px
		.news__item
			text-align: left
			.news-item__date 
				width: 45px
				height: 45px
				top: 10px
				font-size: 12px
				left: 10px
			.news-item__info
				.news-item__title
					font-size: 14px
				.news-item__description
					font-size: 12px
				.news-item__autor
					margin-bottom: 10px
					p
						font-size: 12px
				.news-item__more
					font-size: 12px