@import "vars"

%italic-title
	font-family: 'Yellowtail'
	display: block
	font-weight: 400
	color: $light-green
	font-size: 36px
	margin: 0 0 10px 0

%main-title
	font-family: 'Roboto'
	display: block
	font-weight: 800
	color: $accent
	font-size: 50px
	margin: 0

%paragraph
	font-family: 'Roboto'
	display: block
	font-weight: 400
	color: #525C60
	font-size: 18px
	margin: 0
	line-height: 165%

%small-title
	font-family: 'Roboto'
	display: block
	font-weight: 800
	color: $accent
	font-size: 25px
	margin: 0 0 10px 0

%grid-half
	display: grid
	grid-template-columns: 1fr 1fr